{% extends 'base.html' %}

{% block content %}
<div class="profile">
    {% for user in user_profile %}
    <div class="profile-info">
        <div class="box-profile">
            <div class="picture">
                <img src="{{user.profile}}" alt="">
            </div>
            <a href="/authorization">
                <i class="fa-solid fa-rotate"></i>
            </a>
        </div>
        <ul class="box-details">
            <li>{{user.name}}</li>
            <li>
                <a href="{{user.spotify_profile}}" target="_blank">
                    <i class="fa-brands fa-spotify"></i>
                    <span>Verify</span>
                </a>
            </li>
        </ul>
    </div>
    {% endfor %}
    <div class="artists">
        <h3>Top Artists</h3>
        <div class="box-artist-card">
            {% for artist in artists %}
            <div class="artist-card">
                <div>
                    <img src="{{artist.image_artist}}" alt="">
                    <ul>
                        <li>{{artist.artist}}</li>
                        <li>Popularity: {{artist.popularity}}</li>
                    </ul>
                    <a href="https://open.spotify.com/artist/7jy3rLJdDQY21OgRLCZ9sD" target="_blank" rel="noopener noreferrer">
                        <i class="fa-brands fa-spotify"></i>
                    </a>
                </div>
                <div class="genres">
                    <h4>Genres</h4>
                    <p>{{artist.genres}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% if session['access_denied'] %}
    <div class="msg-error">
        <p>{{ session['access_denied'] }}</p>
        <i class="fa-solid fa-xmark" id="msg-close"></i>
    </div>
{% endif %}
<div class="playlists">
    <h3>User's PLaylists</h3>
    <div class="box-playlist-card">
        
        {% for playlist in playlists %}
        <div class="playlist-card">
            <img src="{{ playlist.image }}" alt="">
            <ul>
                <li>Playlist: {{playlist.name}}</li>
                <li>Owner: {{ playlist.owner }}</li>
                <li>Tracks: {{ playlist.total}}</li>
            </ul>
            <a href="{{ playlist.spotify_url}}" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-circle-play"></i>
            </a>
        </div>
        {% endfor %}
    
    </div>
</div>
{% endblock %}