{% extends 'base.html' %}

{% block content %}

    {% for track in track_response %}
        
        <div class="track">
            <div class="track-card">
                <img src="{{ track.images_url }}" alt="track-image">
                <ul class="track-info">
                    <li>{{ track.song }}</li>
                    <li>{{ track.artist }}</li>
                    <a href="{{ track.spotify_song }}" target="_blank">
                        <i class="fa-brands fa-spotify"><span>Open on spotify</span></i>
                    </a>
                </ul>
            </div>
            <audio src="{{ track.preview_url }}" controls></audio>
            
            <!-- <div class="audio-player">
                <div class="timeline">
                <div class="progress"></div>
                </div>
                <div class="controls">
                <div class="play-container">
                    <div class="toggle-play play">
                </div>
                <source id="track" src="{{ track[6] }}" type="audio/mpeg">
                </div>
                <div class="time">
                    <div class="current">0:00</div>
                    <div class="divider">/</div>
                    <div class="length"></div>
                </div>
                <div class="name">Music Song</div>
                <div class="volume-container">
                    <div class="volume-button">
                    <div class="volume icono-volumeMedium"></div>
                    </div>
                    
                    <div class="volume-slider">
                    <div class="volume-percentage"></div>
                    </div>
                </div>
                </div>
            </div> -->
        </div>

    {% endfor %}

{% endblock %}